*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------- *\
           HERO
\* --------------------- */

#hero-carousel img {
    height: 100vh;
    object-fit: cover;
    filter: grayscale(70%);
}

.capa-hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.capa-hero .container,
.container .row {
    height: 100%;
}

/* --------------------- *\
      about-us
\* --------------------- */

#about-us {
    color: blue;
    background-color: #343a40;
}

#about-us img {
    width: 100%;
    object-fit: cover;
    margin-left: 20px;
}

#about-us p, h2, a{
    margin-left: 20px;
}

/* --------------------- *\
      PIE DE PAGINA
\* --------------------- */

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
    color: white;
}

.navbar .navbar-brand {
    display: flex;
}

/* --------------------- *\
      PRODUCTO
\* --------------------- */

 .card2{
    transition: width 2s, height 2s, transform 2s;
}
.card2:hover{
    transform: rotate(360deg);
}

/* --------------------- *\
      RESPONSIVE
\* --------------------- */

@media screen and (max-width: 991px){
    #about-us img {
        width: 95%;
    }
}