* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* --------------------- *\
      about-us
\* --------------------- */
#about-us {
  color: blue;
  background-color: #343a40;
}

#about-us img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 20px;
}

#about-us p, h2, a {
  margin-left: 20px;
}

/* --------------------- *\
           HERO
\* --------------------- */
#hero-carousel img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.capa-hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.capa-hero .container,
.container .row {
  height: 100%;
}

/* --------------------- *\
      PRODUCTO
\* --------------------- */
.card2 {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}

.card2:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* --------------------- *\
      PIE DE PAGINA
\* --------------------- */
#footer {
  background: -webkit-gradient(linear, left top, right top, from(#1c3643), color-stop(25%, #273b47), to(#1e5372));
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
  color: white;
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* --------------------- *\
      RESPONSIVE
\* --------------------- */
@media screen and (max-width: 991px) {
  #about-us img {
    width: 95%;
  }
}