/* --------------------- *\
      about-us
\* --------------------- */

#about-us {
    color: blue;
    background-color: #343a40;
}

#about-us img {
    width: 100%;
    object-fit: cover;
    margin-left: 20px;
}

#about-us p, h2, a{
    margin-left: 20px;
}